@model IEnumerable<Incident>
@{
    ViewBag.Title = "Incident Manager - SportsPro";
    ViewBag.Action = "incident";
}
<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <h3 class="bg-success">@TempData["message"]</h3>
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">@ViewBag.Title</h2>
            <p class="lead font-weight-lighter text-muted">Are you ready to manage the unsolve incidents?.</p>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link @(ViewBag.Filter =="all"? "active": "")"
               asp-controller="incident"
               asp-action="list"
               asp-route-filter="all">All Incidents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewBag.Filter=="unassigned" ? "active": "")"
               asp-controller="incident"
               asp-action="list"
               asp-route-filter="unassigned">Unassigned Incidents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewBag.Filter=="openincidents" ? "active": "")"
               asp-controller="incident"
               asp-action="list"
               asp-route-filter="openincidents">Open Incidents</a>
        </li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Customer</th>
                <th scope="col">Product</th>
                <th scope="col">Date Opened</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Incident inci in Model)
            {
                <tr>
                    <td>@inci.Title</td>
                    <td>@inci.Customer.Firstname @inci.Customer.Lastname</td>
                    <td>@inci.Product.Name</td>
                    <td>@Html.DisplayFor(modelItem => inci.DateOpened)</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Incident" asp-action="Edit" asp-route-id="@inci.IncidentId" asp-route-slug="@inci.Slug">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Incident" asp-action="Delete" asp-route-id="@inci.IncidentId" asp-route-slug="@inci.Slug">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
        <a asp-controller="Incident" asp-action="Add">
            <button class="btn btn-primary" type="button">Add Incident</button>
        </a>
    </div>
</div>