@model Product
@{
    ViewBag.Title = "Add/Edit Page of Products";
}
<div class="container pb-10">
    <div class="row align-center justify-content-center text-center py-5">
        <div class="col col-12 col-md-8">
            <h2 class="text-dark">@ViewBag.Title</h2>
            <p class="lead font-weight-lighter text-muted">Managing product is tiring!</p>
        </div>
    </div>
    <form asp-controller="Product" asp-action="Edit" method="post">
        <div class="col-md-4">
            <label asp-for="Code" class="form-label">Code</label>
            <input asp-for="Code" class="form-control" />
            <p><span class="text-danger" asp-validation-for="Code"></span></p>
        </div>
        <div class="col-md-4">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
            <p><span class="text-danger" asp-validation-for="Name"></span></p>
        </div>
        <div class="col-md-4">
            <label asp-for="Price" class="form-label">Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <span class="input-group-text">0.00</span>
                <input asp-for="Price" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>
            <p><span class="text-danger" asp-validation-for="Price"></span></p>
        </div>
        <div class="col-md-4">
            <label asp-for="ReleaseDate" class="form-label">Released Date</label>
            <input asp-for="ReleaseDate" class="form-control" type="date" value="@(ViewBag.Action == "Edit" ? @String.Format("{0:yyyy-MM-dd}", Model.ReleaseDate) : @String.Format("{0:yyyy-MM-dd}", DateTime.Now))">
        </div>
        <input type="hidden" asp-for="ProductId" />
        <br />
        <div class="col-md-7">
            <button class="btn btn-primary" type="submit">@ViewBag.Action</button>
            <a asp-controller="Product" asp-action="Cancel" class="btn btn-primary">No</a>
        </div>
    </form>
</div>