@{ 
    var action = ViewBag.Action;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <h1><a class="nav-item nav-link navbar-expand-lg font-weight-bold text-white" asp-controller="" asp-action="" >SportsPro</a></h1>
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link @(action == "home" ? "active" : "")" asp-controller="" asp-action="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "product" ? "active" : "")" asp-controller="Product" asp-action="List">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "technician" ? "active" : "")" asp-controller="Technician" asp-action="List">Technician</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "customer" ? "active" : "")" asp-controller="Customer" asp-action="List">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "incident"  ? "active" : "")" asp-controller="Incident" asp-action="List">Incidents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action == "registration"  ? "active" : "")" asp-controller="Registration" asp-action="Get">Registrations</a>
                        </li>
                        <li class="nav-item float-right">

                            <a class="nav-link @(action == "about" ? "active" : "")" asp-controller="Home" asp-action="About" >About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        <div>
            <div class="container">
                @RenderBody()
            </div>
        </div>      
        
        <footer class="container pt-5">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2021 That's another EZ Game, Inc. &middot;
        </footer>
    </main>
</body>

</html>
